.btnshop{
    background-color: rgb(227, 224, 224);
    padding: 6px 20px;
}
.btnshop:hover{
    background-color: lightgray;
}
.login{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.login:hover{
    color: palevioletred;
}
.bgcindex{
    background-color: rgb(241, 246, 246);
}
.nav-link:hover{
    color: palevioletred;
}
.section1{
    color: rgb(3, 3, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.section1:hover{
    color: palevioletred;
}
.h1line::before,
.h1line::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid rgb(3, 3, 95);
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}
.hov1{
    display: block;
}
.hov2{
    display: none;
}
.hover:hover .hov1{
    display: none;

}
.hover:hover .hov2{
    display: block;
}
.badges{
    position: absolute;
    font-weight: bolder;
    top: 25px;
    left: 30px;
    background-color: plum;
    color: white;
    width: 40px;
    height: 25px;
    font-size: 15px;
}
.section2:hover{
    transform: scale(1.05);
}